.idea/
.idea_modules/
.project
*.iml
.settings
.classpath
.ensime
.ensime_lucene
.akka-cookie
.main.build.conf
.docker.build.conf
.debian.build.conf
project/target/
target/
logs/
conf/notebooks/Untitled*
notebooks/Untitled*
adam.log
notebooks/oreilly
notebooks/temp
/bin/
.cache-main
.cache-tests
