<div id="projects" class="tab-pane">
    <div id="projects_toolbar" class="row">
        <div class="col-xs-12 no-padding tree-buttons">
            <span id="projects_buttons" class="pull-right">
                <button id="refresh_project_list" title="Refresh projects list" class="btn btn-default btn-xs">Refresh projects list <i class="fa fa-refresh"></i></button>
            </span>
        </div>
    </div>
    <div id="project_list">
        <div id="project_list_header" class="row list_header">
            <div class="name_col col-xs-3">Name</div>
            <div class="job_col col-xs-8">Status</div>
            <div class="action_col col-xs-1">Action</div>
        </div>
    </div>
    <hr/>
    <div style="margin-top: 50px">
        <label>Number of lines to show: </label>
        <input id="projects_logs_lines" type="number" value="15"/>
    </div>
    <div style="margin-top: 10px">
        <label>Interval (in seconds) to refresh the current logs: </label>
        <input id="projects_logs_refresh" type="number" value="10"/>
    </div>
    <div id="projects_logs_panel">
    </div>
</div>
