<div id="checkpoints-ui">
    <input type="text" name="query" class="form-control" data-bind="value: checkpoints.query, hasFocus: checkpoints.isTyping" placeholder="Filter revisions..."/>
    <div class="checkpoints-result">
        <ul class="checkpoints" style="list-style:none; overflow: auto; height: 300px;" data-bind="foreach: checkpoints.renderedCheckpoints">
            <li class="result"><button class="btn btn-default btn-xs" data-bind="click: restore"><i class="fa fa-flag"></i></button> <span data-bind="text: message, attr:{ title: new Date(last_modified) }"></span></li>
        </ul>
    </div>
</div>
