/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/
@media print {
  #notebook_name {
    display: block;
    font-size: 30px
  }

  #site {
    overflow: visible;
  }
  #notebook-tachyon-container {
    display: none;
  }

  .output_stream {
    display: none;
  }
  .output_collapsed {
    display: none;
  }

  div.output_prompt {
    visibility: hidden;
  }

  div.input_prompt {
    visibility: hidden;
  }

  div.input_area {
    border: 1px white solid;
  }
  .CodeMirror {
    background: #FFF;
  }

  .print:last-child {
    page-break-after: auto;
  }
}

/*fix #https://github.com/andypetrella/spark-notebook/issues/363 */
/*http://stackoverflow.com/questions/17206631/why-are-bootstrap-tabs-displaying-tab-pane-divs-with-incorrect-widths-when-using/23267110#23267110*/
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */

/* nicer tables (was horrible black) */
.rendered_html tr, .rendered_html th, .rendered_html td {
  border: 1px solid #aaa;
}
