/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/
@media print {
  #notebook_name {
    display: block;
    font-size: 30px
  }

  #site {
    overflow: visible;
  }

  .output_stream {
    display: none;
  }
  .output_collapsed {
    display: none;
  }

  div.output_prompt {
    visibility: hidden;
  }

  div.input_prompt {
    visibility: hidden;
  }

  div.input_area {
    border: 1px white solid;
  }
  .CodeMirror {
    background: #FFF;
  }

  .print:last-child {
    page-break-after: auto;
  }
}

/*fix #https://github.com/andypetrella/spark-notebook/issues/363 */
/*http://stackoverflow.com/questions/17206631/why-are-bootstrap-tabs-displaying-tab-pane-divs-with-incorrect-widths-when-using/23267110#23267110*/
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */

/* nicer tables (was horrible black) */
.rendered_html tr, .rendered_html th, .rendered_html td {
  border: 1px solid #aaa;
}

.cell.failed {
  background-color: #ee5f5b;
}

/* generic (all charts) */
span.chart-sampling-warning p, span.chart-total-item-count p { display: inline !important; }
span.chart-sampling-warning p { color:red !important; }

/* pivot chart */
.pivot-controls-hidden .pvtVals, .pivot-controls-hidden .pvtRenderer, .pivot-controls-hidden .pvtAxisContainer {
  visibility: hidden;
  display: none;
}
table.pivot-controls-hidden, .pivot-controls-hidden > tbody > tr, .pivot-controls-hidden > tbody > tr > td {
  border: none ! important;
}
.pvtUi td.pvtAxisContainer.pvtRows, td.pvtAxisContainer.pvtUnused.pvtVertList {
  /* align both selected and unselected dimensions on the top,
  so it's easier to control them when there are many rows or many columns in a table */
  vertical-align: top;
}
/* auto-resize currently do not take account of the pivot controls.
   to look less horrible, used white background */
td.pvtRendererArea {
  background-color: #ffffff;
}

/* default styles from bokeh messes up c3-tooltip (pivotchart etc) */
table.c3-tooltip {
  background-color: #ffffff;
}
table.c3-tooltip th, #termDefinitions table th {
  color: #ffffff;
}
/* fix the black rect fill appearing in C3 Line charts (looks like a clash with something) */
.pvtUi path.c3-shape.c3-line, .custom-c3-chart path.c3-shape.c3-line {
  fill: transparent;
}


/* Gridster */
#sidebar {
  position: absolute;
  top: 12px;
}
#sidebar.hidden {
  visibility: hidden;
  display: none;
}

#sidebar > ul {
  list-style: none;
}

#sidebar > ul > li {
  background-color: #FCFCFC;
}

#sidebar li h4 {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
  margin: 0 0 0 0;
  line-height: 28px;
  font-size: 14px;
  padding: 4px 0 4px 0;
}

/* cell progress: based on http://getbootstrap.com/components/#progress-animated */
.progress { margin: 0; }
div.progress-bar { text-align: left; }
div.progress-bar a.cancel-cell-btn { font-weight: bold; color: #336699 !important; margin-left: 10px; }
div.progress-bar.active a.cancel-cell-btn { color: #FFFFFF!important; }

#all-jobs-progress-bar { margin-bottom: 0px; }
h4#spark-jobs { margin-bottom: 0 !important; }

.prompt { display: none; visibility: hidden; }
/* new cell UI */
div.cell.code_cell {
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10px;
}
div.cell.code_cell.selected {
  border-color: #3e8f3e;
}

.code_cell div.input_area {
  border-color: #cfcfcf;
  border-right-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: #EEEEEE;
  border-top-width: 0;
  border-left-width: 5px;
  background: transparent;
}
/* make defined variables lighter, so it do not disturb from final result */
div.output_area pre { color: #666; }

/* codemirror syntax highlighting tweaks */
.cm-sql-inside-scala-mode {
  background-color: #fffdea;
}


body[data-read-only="true"] .cell .progress, body[data-read-only="true"] #maintoolbar, body[data-read-only="true"] #menubar-container {
  display: none !important; visibility: hidden!important;
}
